/* #region ASSETS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'PT Sans', sans-serif;
}

.container{
    width: 70%;
    margin: auto;
}

.container_sm{
    width: 60%;
    margin: auto;
}

.container_xsm{
    width: 40%;
    margin: auto;
}

:root{
    --primary: #9793e5;
    --secondary: #0084fd;
    --secondary-soft: #b4ddfe;
    --accent: #fdc15f;
    --darker: #000;
    --dark: #323332;
    --light: #fffefe;
}

/* #endregion ASSETS */

/* #region DEBUG */

     /* .debug header{
        height: 60px;
     } */

     /* .debug .col_8, .debug .col_3_plus{
        height: 350px;
        
    } */

   /*  .debug .col_6{
        background-color: red;
        height: 300px;
    } */
    
   /* .debug .card{

    border: 1px solid black;
    border-radius: 1rem;
    padding: 5vh;
   } */
    
   /* .debug .foto_partner, .debug .testo_partner{
    height: 50px;   
    }
    background-color: #000; */

/* #endregion DEBUG */

/* #region HEADER */
header{
    background-color: var(--secondary);
    margin-bottom: 5vh;
}

header .mobile_nav{
    display: none;
}

.mobile_nav i{
    color: white;
    font-size: 11vh;
}

header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    font-size: 0.6rem;
}

.logo{
    height: 11vh;
}

.get_started{
    color: var(--darker);
    background-color: var(--light);
    padding: 0.5rem 0.8rem;
    border-radius: 1rem;
    border: 1px solid var(--light);
    font-size: 0.6rem;
}

.main_menu{
    display: inline-block;
    color: white;
}

.main_menu span{
    padding-right: 2vw;
}
/* #endregion HEADER */

/* #region MAIN */

.demo{
    margin-bottom: 5vh;
}

.demo p{
    line-height: 4vh;
    font-weight: bold;
    color: #657b8e;
    font-size: 0.8rem;
}

.demo h2{
    color: var(--secondary);
    padding-bottom: 3vh;
}


.demo button{
  background-color: var(--secondary);
  color: white;
  padding: 0.5rem 1rem;
  margin-top: 3vh;
  border-radius: 1rem;
  border: 0;
}

.demo img{
    width: 45%;
    padding-top: 2vh;
}

.demo_text{
    padding-left: 2vw;
    padding-top: 3vh;
    padding-bottom: 3vh;

}

.demo_application{
    display: flex;
    justify-content: space-between;
}

.demo .col_8, .demo .col_3_plus{
    background-color: var(--secondary-soft);
    border-radius: 1rem;
    margin-bottom: 4vh;

}

.clean_code{
    text-align: center;
    padding: 3vh 2vw  ;
}

.clean_code i{
    font-size: 8vh;
    padding-bottom: 3vh;
    color: var(--secondary);
}



.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.background_primary{
    background-color: var(--primary);
    padding: 5vh 0;
    margin-bottom: 5vh;
}

.planning img{
    width: 100%;
    padding-top: 3vh;
}

.planning h2{
    margin-top:10vh ;
    margin-bottom: 3vh;
    color: white;
}

.planning p{
    line-height: 5vh;
    color: white;
    padding-bottom: 3vh;
}

.background_white{
    background-color: white;
    border: 0;
    border-radius: 1rem;
    display: inline-block;
    margin-top: 20vh;
    padding-left: 2vw;
    padding-right: 2vw;
    margin-left: 2vw;
    text-align: center;

}

.background_white p{
    color: black;
    font-size: 0.8rem;
    line-height: 4vh;
    margin-top: 3vh;
}

.background_white button{
    background-color: var(--primary);
    border: 0;
    border-radius: 50%;
    padding: 0.5rem 0.7rem;
    margin-bottom: 3vh;
    
}


.partners h3{
    margin: 3vh 0;
    color: var(--primary);
    font-size: 1.5rem;

}

.card{
    background-color: var(--primary);
    margin-top: 5vh;
    text-align: left;
    border-radius: 2.5rem;
}

.card img{
   max-width: 100% ;
    border-radius: 4rem;
    padding: 4vh 2vw;
}

.card p{
    padding-top:5vh ;
    padding-bottom: 2vh;
    color: white ;
}

.card .name{
    color: white;
    font-weight: bold;
}



.partners{
    text-align: center;
}

.background_primary_benefits{
    background-color: var(--primary);
    margin-top: 5vh;
    padding-bottom: 5vh;
}

.benefits{
    color: white;
    padding-top: 5vh;
    text-align: center;
}

.benefits h2{
    padding-bottom: 5vh;
}

.card_white{
    background-color: white;
    color: var(--primary);
    text-align: left;
    padding: 0 2vw;
    border-radius: 1rem;
    margin-bottom: 3vh;
}

.card_white h2{
    font-size: 3rem;
}

.card_white h3{
    font-size: 1rem;
}

.card_white p{
    color: var(--darker);
    font-size: 0.6rem;
    margin-top: 2vh;
    line-height: 3vh;
    margin-bottom: 2vh;
}

.card_white button{
    margin-bottom: 2vh;
    padding: 0.5rem 2rem;
    background-color: var(--primary);
    border: 0;
    border-radius: 1rem;
    font-size: 0.5rem;
    color: white;
}


.about_us{
    margin-top: 5vh;
}

.about_us h2{
    color: var(--primary);
    font-size: 2rem;
    margin-bottom: 3vh;
}

.about_text p{
    font-size: 0.7rem;
    margin-bottom: 3vh;
    line-height: 5vh;
}

.about_img{
    padding: 0 2vw;
}

.about_img p{
  color: var(--primary);
  font-weight: bold;
  margin-bottom: 3vh;
}

.about_img button{
    background-color: var(--primary);
    color: white;
    font-size: 0.6rem;
    padding: 0.3rem 1rem;
    border: 0;
    border-radius: 1rem;

}

.about_us img{
    height: 30vh;
    border-radius: 6rem ;
    border: 1px solid white;
}

.call_to_action{
    padding: 5vh 0;
    text-align: center;
    line-height: 5vh;
    color: white;
}

.call_to_action span{
  font-size: 0.7rem;
  margin-bottom: 3vh;

}

.call_to_action h3{
    font-size: 1.5rem;
    margin-bottom: 5vh;
}

.call_to_action h2{
    color: var(--accent);
    font-size: 3rem;
    margin-bottom: 5vh;
}

.call_to_action p{
    font-size: 0.6rem;
    margin-bottom: 3vh;
}

.call_to_action button{
    background-color: white;
    color: var(--primary);
    font-size: 0.6rem;
    font-weight: bold;
    padding: 1rem 3rem;
    border: 0;
    border-radius: 2rem;
    margin-bottom: 3vh;
}

.call_to_action .copyright{
    font-size: 0.5rem;
}

.copyright a{
    color: white;
}

.background_primary_action{
    background-color: var(--primary);   
    margin-top: 5vh ;
}

/* #endregion MAIN */

/* #region FOOTER */
 footer{
    background-color: var(--dark);
    padding: 5vh 0;
    text-align: center;
    color: white;
    font-size: 0.6rem;
 }

 footer a{
    color: var(--primary);
    text-decoration: none;
 }

 a:hover{
    text-decoration: underline;
 }

 .boolean{
    margin-top:5vh;
 }


/* #endregion FOOTER */

/* #region DIVISIONI IN COLONNA */
     .col_1{
        width: calc(100% / 12 * 1);
     }

     .col_2{
        width: calc(100% / 12 * 2);
     }

     .col_3{
        width: calc(100% / 12 * 3);
     }

     .col_4{
        width: calc(100% / 12 * 4);
     }

     .col_5{
        width: calc(100% / 12 * 5);
     }

     .col_6{
        width: calc(100% / 12 * 6);
     }

     .col_7{
        width: calc(100% / 12 * 7);
     }

     .col_8{
        width: calc(100% / 12 * 8 - 1vw);
     }

     .col_9{
        width: calc(100% / 12 * 9);
     }

     .col_10{
        width: calc(100% / 12 * 10);
     }

     .col_11{
        width: calc(100% / 12 * 11);
     }

     .col_12{
        width: calc(100% / 12 * 12);
     }
    
     .col_3_plus{
        width: calc(100% / 12 * 3 + 5vw);
        display: inline-block;

     }

/* #endregion DIVISIONI IN COLONNA */

/* #region RESPONSIVE */

@media screen and (max-width: 768px){
    header .main_menu{
       display: none;
    }

    header .mobile_nav{
        display: inline-block;
    }

    .container_tablet{
        width: 95%;
        margin: auto;
    }

    .demo_application{
        display: flex;
        flex-direction: column;
    }

    .demo_application img{
        width: 35%;
    }

    .planning img{
        width: 100%;
    }

    .col_12_tablet{
        width: calc(100% / 12 * 12);
    }

    .planning h2{
        font-size: 3rem;
    }

    .background_white{
        margin-top: 0;
    }

    .col_5_tablet{
       width: calc(100% / 12 * 5 + 5vw);
       
    }

    .benefits .row{
        justify-content: space-around;
    }

    .about_us{
        margin-top: 5vh;
    }

    .about_us p{
        font-size: 1rem;
    }
    .about_img p{
     font-size: 1.5rem;
    }

    .call_to_action span{
        font-size:1.5rem ;
    }

    .call_to_action h3{
        font-size:3rem ;
        margin-top: 5vh;
    }
    .call_to_action h2{
        font-size:5rem ;
        margin-top: 8vh;
    }
    .call_to_action p{
        font-size:1rem ;
        margin-top: 8vh;
    }
    .call_to_action button{
        font-size:1rem ;

    }

    .call_to_action .copyright{
        font-size:0.8rem ;
    }

    footer{
        font-size: 0.8rem;
    }

}

@media screen and (max-width: 425px){
   
   .container_tablet{
    width: 90%;
    margin: auto;
   }
    .demo_application{
    text-align: center;
    width: 100%;
   }

   .demo_application img{
    margin-left: 28vw;
   }

   .clean_code{
    width:100% ;
    margin: auto;
   }

   .card img{
    display: block;
    border-radius: 9rem;
    padding:5vh 10vw ;
   }

   .testo_partner{
    padding-left: 20vw;
    text-align: center;
   }

   .card p{
    padding-top: 0;
   }

    .card{
    padding-bottom: 3vh;
   }

   .col_12_tablet{
    width: 90% ;
    margin: auto;
    margin-bottom: 5vh;

   }

   .card_white h2{
    padding-bottom: 0;
   }

   .card_white p, .card_white button{
    font-size: 0.8rem;
   }

   .about_img img{
    height: 35vh;
   }

   .about_text h2{
    padding-top: 5vh;
   }

   .call_to_action h3{
    font-size: 2.5rem;
    line-height: 8vh;
   }
}



/* #endregion RESPONSIVE */